@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-color: #132223;
  --white-color: #d0e0e9;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--main-color);
  color: var(--white-color);
  width: 100vw;
}

.container {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  padding: 10vw;
}

.slider {
  display: flex;
  flex-direction: column;
}

.memes {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.memes>ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 900%;
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

.memes>ul>li {
  width: 100%;
}

.memes>ul>li>img {
  margin: auto;
  width: 100%;
}

#slide1:checked~ul {
  transform: translateX(0%);
}

#slide2:checked~ul {
  transform: translateX(-100%);
}

#slide3:checked~ul {
  transform: translateX(-200%);
}

#slide4:checked~ul {
  transform: translateX(-300%);
}

#slide5:checked~ul {
  transform: translateX(-400%);
}

#slide6:checked~ul {
  transform: translateX(-500%);
}

#slide7:checked~ul {
  transform: translateX(-600%);
}

#slide8:checked~ul {
  transform: translateX(-700%);
}

#slide9:checked~ul {
  transform: translateX(-800%);
}